@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Josefin+Sans:wght@400;600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.consola {
    display: flex;
    flex-direction: column;
    width: 1500px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap:20px;
}

.controles { /* Seccion de control de parametros (Fila de arriba)*/
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Ancho del panel de control */
    background-color: #b3b3b3;
    border: 3px solid;
    border-color: #7D7D7D;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

.tempo {
    width: 100%;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 12px;
}
.play-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#reproducir, #reiniciar {
    width: 50px;
    height: 50px;
    background-color: #7F7F7F;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.circular-slider {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
}

.circular-slider .outer-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #434343;
    position: absolute;
    top: 0;
    left: 0;
}

.circular-slider .inner-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7f7d7d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular-slider .indicator {
    width: 25px;
    height: 8px;
    background-color: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: translate(-50%, -50%) rotate(0deg);
}

.visualization {
    flex: 1;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.sections {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid; /* Borde de color específico */
    border-radius: 12px; /* Bordes curvos */
    padding: 10px;
    text-align: center;
    width: 120px; /* Ancho de las secciones */
}

.titulo {
    font-size: 25px;
    font-weight: bold;
}
.etiqueta {
    font-size: 20px;
    font-weight: normal;
    margin-top:0px;
}


#harmonia {
    border-color: #F6B142;
}

#melodia {
    border-color: #F36326;
}

#ritmo {
    border-color: #66A13F;
}

#fondo {
    border-color: #EC085B;
}

#adornos {
    border-color: #8D0D9C;
}

.buttons-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.silencio-solo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.silencio, .solos{
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de forma equitativa */
    flex-direction: column;
    height: 100%;
}
.audios {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Espacio entre elementos en la fila */
}


.btn {
    height: 75px;
    flex: 1;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.mute, .solo {
    width: 60px;
    height: 60px;
    background-color: #b3b3b3;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mute:hover, .solo:hover {
    background-color: #95a5a6;
}

/* Estilos para btn1 y btn2 */
#btn1, #btn2 {
    background-color: #BDAC90;
}
#btn1.active, #btn2.active {
    background-color: #F6B142;
}

/* Estilos para btn3, btn4, btn5 y btn6 */
#btn3, #btn4, #btn5, #btn6 {
    background-color: #BC9889;
}
#btn3.active, #btn4.active, #btn5.active, #btn6.active {
    background-color: #F36326;
}

/* Estilos para btn7, btn8, btn9 y btn10 */
#btn7, #btn8, #btn9, #btn10 {
    background-color: #99A88f;
}
#btn7.active, #btn8.active, #btn9.active, #btn10.active {
    background-color: #66A13F;
}

/* Estilos para btn11 a btn18 */
#btn11, #btn12, #btn13, #btn14, #btn15, #btn16, #btn17, #btn18 {
    background-color: #bb8196;
}
#btn11.active, #btn12.active, #btn13.active, #btn14.active, #btn15.active, #btn16.active, #btn17.active, #btn18.active {
    background-color: #EC085B;
}

/* Estilos para btn19 a btn34 */
#btn19, #btn20, #btn21, #btn22, #btn23, #btn24, #btn25, #btn26, #btn27, #btn28, #btn29, #btn30, #btn31, #btn32, #btn33, #btn34 {
    background-color: #A382A6;
}
#btn19.active, #btn20.active, #btn21.active, #btn22.active, #btn23.active, #btn24.active, #btn25.active, #btn26.active, #btn27.active, #btn28.active, #btn29.active, #btn30.active, #btn31.active, #btn32.active, #btn33.active {
    background-color: #8D0D9C;
}
